* {
	line-height: 1.7;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

header {
    float: left;
    width: 350px;
}

section {
	margin-left: 350px;
	width: 650px;
}

img {
	max-width:100%;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}