/* レイアウト *********************************/

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

header {
	border-bottom: dashed 1px #bbb;
}

#side_menu {
    float: left;
    width: 330px;
}

#contents {
	margin-left: 330px;
	padding-left: 20px;
	width: 650px;
	border-left: dashed 1px #bbb;
}

/* 全体設定 ***********************************/

* {
	line-height: 1.7;
}

img {
	max-width:100%;
}

hr {
	border: none;
	border-top: dashed 1px #bbb;
	height: 1px;
	color: #fff;
	margin: 0 6;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

/* テーブル ***********************************/

table {
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
}

td, th {
	padding: 5px 10px;
}

tr:nth-child(even) {
	background-color: #f8f8f8;
}

tr:nth-child(1) {
	background-color: #eee;
}